.nama h3 {
  font-size: 24px;
  font-weight: 700;
}

.nama i {
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
}

.no-izin h5 {
  font-size: 20px;
  font-weight: 500;
}

.poin {
  font-weight: 600;
  background-color: #a2f6db;
  color: #034832;
  border-radius: 10px;
  padding: 0 16px;
}

.hari {
  width: 100%;
}

.jam .col-2 {
  width: 98px;
  height: 38px;
  background-color: #a2f6db;
}

.jam p {
  font-weight: bold;
}

.hari p {
  background-color: #a2f6db;
  border-radius: 10px;
}

@media (min-width: 576px) {
  .poin p {
    padding: 5px 7px;
  }
}
